
.content-page-wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);
    color: $offwhite;
  
    .right-column {
      display: flex;
      justify-content: top;
      align-items: center;
      flex-direction: column;
      padding: 80px;
    }
  }

  .left-column {
      margin-left: 20px;
      margin-bottom: 10px;
  }

  .bullet-point-group {
    display: flex;
    align-items: center;
  
    .icon {
      font-size: 2em;
      color: goldenrod;
    }
  
    .text {
      font-size: 1.5em;
      font-weight: 900;;
      margin-left: 21px;
    }
  }